{% extends "base.html" %}

{% block content %}
  <h1>
  TODO List

  <a href="{% url 'todo:task-create' %}" class="btn btn-primary float-lg-right">Add Task</a>
{% endblock %}
</h1>
<br>
{% for task in task_list %}
  <p>
    <h3><strong>{{ task.content }}</strong></h3>
    {% if task.work_status %}
      <p class="text-secondary">Done</p>
      <a href="{%  url 'todo:task-status' pk=task.id status="done" %}" class="btn btn-secondary float-right">
        Undo
      </a>
    {% else %}
      <p class="text-danger">Not Done</p>
      <a href="{% url 'todo:task-status' pk=task.id status="not_done" %}" class="btn btn-success float-right">
        Complete
      </a>
    {% endif %}
  </p>

  <p>Created: {{ task.datetime }}</p>
  <p>Tags:
    {% for tag in task.tags.all %}
      <hr>
      {{ tag.name }}
    {% endfor %}
    <a href="{% url 'todo:task-update' pk=task.id %}">Update</a>
    <a href="{% url 'todo:task-delete' pk=task.id %}">Delete</a>
  </p>
{% endfor %}


